<div class="container">
    <h1>Sobre nosotros</h1>
        <p>Somos estudiantes de ingeniería de sistemas y computación de la Universidad Pedagógica y tecnológica de Colombia en su seccional Sogamoso - Boyacá, desarrollamos está página web con el fin de dar solución al proyecto de SOFTWARE II. 22/03/2022</p>
         
        <table align="center">
            <tbody>
            <tr>
            <td>
            <img src="/assets/img/team/01.jpg"  HSPACE="50">
            <p>Kevin Nicolas Patiño Saenz <br> COD.201621554 </p>
            </td>
            <td>
            <img src="/assets/img/team/02.jpeg" HSPACE="50">
            <p>Sergio Andres Cruz Cepeda <br> COD.201522259</p>
            </td>
            </tr>
            </tbody>
        </table>
</div>