<footer>
  <hr />
  <div class="container text-center">
    <address>
      <p>Supermercado Virtual - ¡¡Los Mejores Precios de Sogamoso!!</p>
      <p>
        Software II, Ingeniería de Sistemas y Computación - 2022 Sogamoso -
        Boyaca
        <a
          class="nav-link"
          [routerLink]="['/contact']"
          routerLinkActive="router-link-active"
          >Contacta con nosotros</a
        >
      </p>
    </address>
    <ul>
      <p>Kevin Nicolas Patiño Saenz Cod. 201621554</p>
      <p>Sergio Andres Cruz Cod. xxxxxxxxxx</p>
    </ul>
  </div>
</footer>
